<template>
  <ion-app class="login-page">
    <v-layout>
      <v-toolbar
        title="CHECKRATE"
        height="90"
        v-if="routePath"
        style="
          color: white;
          background-image: linear-gradient(to right, #66109a, #db00ff);
        "
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      </v-toolbar>

      <v-navigation-drawer v-model="drawer" location="right" temporary>
        <v-list :items="items"></v-list>
      </v-navigation-drawer>

      <ion-router-outlet class="login-page" :class="[{ 'logged-in-page': routePath }]" />
    </v-layout>
  </ion-app>
</template>
<script setup lang="ts">
import { useRoute } from "vue-router";

const routePath = computed(() => {
  return useRoute().fullPath !== "/";
});

const drawer = ref(false);
const items = ref([
  {
    title: "Foo",
    value: "foo",
  },
  {
    title: "Bar",
    value: "bar",
  },
  {
    title: "Fizz",
    value: "fizz",
  },
  {
    title: "Buzz",
    value: "buzz",
  },
]);
</script>
<style lang="css">
.login-page {
  background-color: white !important;
}

.logged-in-page {
  margin-top: 90px;
}
</style>
