<template>
  <ion-page>
    <v-container fill-height style="max-width: 600px">
      <v-row justify="center" align="center" align-content="center">
        <v-col cols="12">
          <v-card height="500px">
            <template v-slot:title>
              <v-row justify="center" align="center" align-content="center">
                <v-col cols="1">
                  <v-avatar color="surface-variant"></v-avatar>
                </v-col>
                <v-col cols="11">
                  <v-row justify="center" align="center" align-content="center">
                    <v-col cols="12" class="text-subtitle-2 pl-6"> username * 1d </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </template>
            <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="350px"
              cover
            ></v-img>
            <v-card-actions>
              <v-row justify="center" align="center" align-content="center">
                <v-col cols="12">
                  <v-row justify="center" align="center" align-content="center">
                    <v-col cols="3">
                      <v-btn icon>
                        <v-icon>mdi-comment-outline</v-icon>
                      </v-btn>
                      <v-btn icon>
                        <v-icon>mdi-cards-heart-outline</v-icon>
                      </v-btn>
                    </v-col>
                    <v-col cols="6" class="text-center">
                      <v-rating
                        color="#66109a"
                        v-model="ratings"
                        readonly
                        half-increments
                      ></v-rating>
                    </v-col>
                    <v-col cols="3">
                      <v-btn icon class="float-right">
                        <v-icon>mdi-eye</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
        {{ photos }}
        <v-col cols="4" :key="photo.filepath" v-for="photo in photos">
          <v-img :src="photo.webviewPath" />
        </v-col>
      </v-row>
      <v-btn
        color="primary"
        width="25px"
        height="45px"
        style="position: absolute; right: 2em; bottom: 2em"
        @click="takePhoto"
      >
        <v-icon size="35"> mdi-plus </v-icon>
      </v-btn>
    </v-container>
  </ion-page>
</template>
<script setup lang="ts">
import { usePhotoGallery, UserPhoto } from "@/composables/usePhotoGallery";

const ratings = ref(5);
const { photos, takePhoto } = usePhotoGallery();
</script>
