<template>
  <ion-page>
    <v-container fill-height class="ma-auto" style="margin-top: 60px">
      <v-row justify="center" align="center" align-content="center">
        <v-col cols="12">
          <ion-img style="height: 350px" :src="logo" alt="logo"></ion-img>
        </v-col>
        <v-col cols="12">
          <ion-input label="Email" labelPlacement="floating" fill="outline"></ion-input>
        </v-col>
        <v-col cols="12">
          <ion-input
            type="password"
            label="Password"
            labelPlacement="floating"
            fill="outline"
          ></ion-input>
        </v-col>
        <v-col cols="4">
          <nuxt-link to="/home">
            <ion-button expand="block"> sign up </ion-button>
          </nuxt-link>
        </v-col>
        <v-col cols="4">
          <nuxt-link to="/home">
            <ion-button expand="block"> login </ion-button>
          </nuxt-link>
        </v-col>
        <v-col cols="4">
          <nuxt-link to="/home">
            <ion-button expand="block"> forgot password </ion-button>
          </nuxt-link>
        </v-col>
        <v-col cols="4" v-for="item in socials" :key="item.name" class="text-center">
          <ion-button size="large" fill="clear" @click="socialLogin(item.name)">
            <ion-icon :icon="item.icon" size="large" color="primary" />
          </ion-button>
        </v-col>
      </v-row>
    </v-container>
  </ion-page>
</template>
<script setup lang="ts">
import { logoGoogle, logoTwitter, logoFacebook } from "ionicons/icons";
import {
  GoogleAuthProvider,
  FacebookAuthProvider,
  TwitterAuthProvider,
  getAuth,
  signInWithPopup,
  createUserWithEmailAndPassword,
  signInWithEmailAndPassword,
} from "firebase/auth";

const gProvider = new GoogleAuthProvider();
const fProvider = new FacebookAuthProvider();
const twProvider = new TwitterAuthProvider();

const logo = ref<string>(
  "https://firebasestorage.googleapis.com/v0/b/checkrate-a43f8.appspot.com/o/logo.png?alt=media&token=63fbaa54-9cd1-4a8c-b5f7-310b9fba2f96"
);

const socials = reactive([
  {
    icon: logoGoogle,
    name: "gl",
  },
  {
    icon: logoTwitter,
    name: "tw",
  },
  {
    icon: logoFacebook,
    name: "fb",
  },
]);

const email = ref<string>("");
const password = ref<string>("");

function socialLogin(type: string) {
  if (type === "gl") {
    googleLogin();
  } else if (type === "fb") {
    facebookLogin();
  } else if (type === "tw") {
    twitterLogin();
  }
}

function login() {
  const auth = getAuth();
  signInWithEmailAndPassword(auth, email, password)
    .then((userCredential) => {
      // Signed in
      const user = userCredential.user;
      // ...
    })
    .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
    });
}

function googleLogin() {
  const auth = getAuth();
  signInWithPopup(auth, gProvider)
    .then((result) => {
      // This gives you a Google Access Token. You can use it to access the Google API.
      const credential = GoogleAuthProvider.credentialFromResult(result);
      const token = credential.accessToken;
      // The signed-in user info.
      const user = result.user;
      // IdP data available using getAdditionalUserInfo(result)
      // ...
    })
    .catch((error) => {
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      // The email of the user's account used.
      const email = error.customData.email;
      // The AuthCredential type that was used.
      const credential = GoogleAuthProvider.credentialFromError(error);
      // ...
    });
}
function facebookLogin() {
  const auth = getAuth();
  signInWithPopup(auth, fProvider)
    .then((result) => {
      // The signed-in user info.
      const user = result.user;

      // This gives you a Facebook Access Token. You can use it to access the Facebook API.
      const credential = FacebookAuthProvider.credentialFromResult(result);
      const accessToken = credential.accessToken;

      // IdP data available using getAdditionalUserInfo(result)
      // ...
    })
    .catch((error) => {
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      // The email of the user's account used.
      const email = error.customData.email;
      // The AuthCredential type that was used.
      const credential = FacebookAuthProvider.credentialFromError(error);

      // ...
    });
}
function twitterLogin() {
  const auth = getAuth();
  signInWithPopup(auth, twProvider)
    .then((result) => {
      // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
      // You can use these server side with your app's credentials to access the Twitter API.
      const credential = TwitterAuthProvider.credentialFromResult(result);
      const token = credential.accessToken;
      const secret = credential.secret;

      // The signed-in user info.
      const user = result.user;
      // IdP data available using getAdditionalUserInfo(result)
      // ...
    })
    .catch((error) => {
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      // The email of the user's account used.
      const email = error.customData.email;
      // The AuthCredential type that was used.
      const credential = TwitterAuthProvider.credentialFromError(error);
      // ...
    });
}
</script>
